.MainPage {

  .MainPage_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // блоки равномерно
    gap: 20px;             // расстояние между блоками
    padding: 20px;
    background-color: aqua;
  }

  .block1 {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
  }
}
