.header_container {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    justify-content: space-between;

    .logo {
        width: 100px;
    }

    .header_left {
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 20px;

        .header_link {
            text-decoration: none;
            color: black;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }


    .qwe {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .header_right {
        font-size: 24px;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 15px;
    }


    .header_right {
        border-radius: 100px;
        width: 40px;
        height: 40px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

}